# Guided Practice Module 3: Data Preparation with Python

## üéØYour Mission

You‚Äôve been hired by a marketing analytics team for a retail company. They are planning a new customer loyalty program and need clean, analysis-ready data to identify purchase patterns and segment customers effectively.

You are given two datasets
- customer_retail.csv
- transactions_retail.csv

Your first task is to prepare both datasets for analysis.

By working through this problem, you will apply the following learning objectives from Lessons 3A - 3E:
- Learn how to handle missing data effectively.
- Perform data manipulation and transformation using Python.
- Join datasets for a comprehensive analysis.

## üí≠Apply #AlgoThinking

Before diving into the data, let's start by listing down what are the steps you will be taking to handle the this task. (Include atleast 5 steps)

In [2]:
# load and inspect the data
# handle missing data
# clean and transform data
# join dataset
# last check and save clean data

## üí°Some helpful tips while you code:

You can use the cheatsheet to support you in the process of coding. You may also consider answering the following specific questions that will help you in the process:

**1. Handling Missing Data:**
- What columns contain missing values?
- Should we remove rows with missing values or fill them with a specific value?
- What imputation method (mean, median, mode) should we use?

**2. Data Manipulation & Transformation:**
- Are there any incorrect data types that need conversion?
- Do we need to create new columns for better analysis (e.g., total spend per customer)?
- How can we standardize categorical data for consistency?

**3. Data Joining:**
- What is the common key to merge the datasets?
- What type of join (inner, left, right, full) should be used?
- How do we ensure there are no duplicate records post-merge?

## üõ†Ô∏èYour Solution

Import the relevant Python libraries.

In [3]:
import numpy as np
import pandas as pd
from odbc import dataError
from tomlkit import value

Load both datasets

In [4]:
customer = pd.read_csv("customer_retail.csv")
customer.head()

,id,age,gender,income,education,region,loyalty_status,purchase_frequency,purchase_amount,product_category,promotion_usage,satisfaction_score
0,1,27,Male,40682,Bachelor,East,Gold,frequent,18249,Books,0,6.0
1,2,29,Male,15317,Masters,West,Regular,rare,4557,Clothing,1,6.0
2,3,37,Male,38849,Bachelor,West,Silver,rare,11822,Clothing,0,6.0
3,4,30,Male,11568,HighSchool,South,Regular,frequent,4098,Food,0,7.0
4,5,31,Female,46952,College,North,Regular,occasional,19685,Clothing,1,5.0

In [5]:
transactions = pd.read_csv("transactions_retail.csv")
transactions.head()

,id,transaction_id,transaction_date,payment_method,total_spent,discount_applied,items_purchased,return_status
0,247,1,01/1/2023,PayPal,608.0,180.0,1,No Return
1,727,2,02/1/2023,Cash,193.0,112.0,1,Returned
2,614,3,03/1/2023,PayPal,815.0,56.0,6,Returned
3,56,4,04/1/2023,PayPal,885.0,86.0,3,No Return
4,268,5,05/1/2023,PayPal,92.0,101.0,9,No Return

In [6]:
print("Customer Retail Tables Info\n", customer.info())
print("\n")
print("Transactions Retail Tables Info\n", customer.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1000 non-null   int64
 1   age                 1000 non-null   int64
 2   gender              1000 non-null   object
 3   income              1000 non-null   int64
 4   education           997 non-null    object
 5   region              1000 non-null   object
 6   loyalty_status      1000 non-null   object
 7   purchase_frequency  994 non-null    object
 8   purchase_amount     1000 non-null   int64
 9   product_category    1000 non-null   object
 10  promotion_usage     1000 non-null   int64
 11  satisfaction_score  993 non-null    float64
dtypes: float64(1), int64(5), object(6)
memory usage: 93.9+ KB
Customer Retail Tables Info
 None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1000 non-null   int64
 1   age                 1000 non-null   int64
 2   gender              1000 non-null   object
 3   income              1000 non-null   int64
 4   education           997 non-null    object
 5   region              1000 non-null   object
 6   loyalty_status      1000 non-null   object
 7   purchase_frequency  994 non-null    object
 8   purchase_amount     1000 non-null   int64
 9   product_category    1000 non-null   object
 10  promotion_usage     1000 non-null   int64
 11  satisfaction_score  993 non-null    float64
dtypes: float64(1), int64(5), object(6)
memory usage: 93.9+ KB
Transactions Retail Tables Info
 None

###Part 1: Handling Missing Data

1) Handle the missing data for both datasets

üí°Tip: Use print( ) to display the missing data for each dataset to identify which columns need cleaning.

In [7]:
# total missing data in each column
print("Missing data in customer_retail table\n", customer.isnull().sum())

Missing data in customer_retail table
 id                    0
age                   0
gender                0
income                0
education             3
region                0
loyalty_status        0
purchase_frequency    6
purchase_amount       0
product_category      0
promotion_usage       0
satisfaction_score    7
dtype: int64

In [8]:
# total missing data in each column
print("Missing data in transaction_retail table\n", transactions.isnull().sum())

Missing data in transaction_retail table
 id                   0
transaction_id       0
transaction_date     0
payment_method       0
total_spent          3
discount_applied    11
items_purchased      0
return_status        0
dtype: int64

In [9]:
# print all missing data for each row
missing_edu_value_after = customer.groupby('id')[['age', 'education']].first().reset_index()

# Filter for the IDs you want
missing_edu_value_after = missing_edu_value_after[missing_edu_value_after['id'].isin([18, 19, 20])]

print(missing_edu_value_after)
# customer = missing_edu_value_after

    id  age education
17  18   21   College
18  19   33      None
19  20   28      None

In [10]:
# print all missing data for each row
# display(transactions[transactions.isnull().any(axis=1)])
customer.isnull().sum()

id                    0
age                   0
gender                0
income                0
education             3
region                0
loyalty_status        0
purchase_frequency    6
purchase_amount       0
product_category      0
promotion_usage       0
satisfaction_score    7
dtype: int64

**Missing Values are present in:**

1. education (categorical variable)
2. purchase frequency (categorical variable)
3. satisfaction score (numerical variable)
4. total_spent (numerical variable)
5. discount_applied (numerical variable)

2) For categorical variables, we can generally remove missing values if the **missingness is completely random and not associated with any other variable.**

In [11]:
# we will focus on missing data only, if we drop certain does it will effect other data
# untuk purchase_frequency xbole nk create sendiri dari mana2 column, so buang macam biasea

customer = customer.dropna(subset=['purchase_frequency'])
customer.isnull().sum()

id                    0
age                   0
gender                0
income                0
education             3
region                0
loyalty_status        0
purchase_frequency    0
purchase_amount       0
product_category      0
promotion_usage       0
satisfaction_score    7
dtype: int64

Now, no missing value in the **purchase_frequency** column!

3) If a categorical variable is associated with another variable, we can perform conditional imputation using defined rules or value ranges.

For example, we have missing values in the "education" column:

1. Check the unique categories in the education column.
2. Create conditions to correlate with the "age" column.
3. Perform imputation

In [12]:
# untuk education since secara average populasi manusia mengamnbil certain education level boleh dianggarkan so kita bole tukar based on kategori umur for each education level
# what to do:
# 1. list all education level
# 2. tengok which column yg missing
# 3. buat conditions
# 4. imputekan

# step 1
customer['education'].unique()

array(['Bachelor', 'Masters', 'HighSchool', 'College', nan], dtype=object)

In [13]:
# step 2: check missing values
raw_education = customer[customer['education'].isnull()]
print(raw_education[['age','education']])

    age education
18   33       NaN
19   28       NaN
20   25       NaN

In [14]:
# step 3
# customer['educational_original'] = customer['education']

# anggarkan missing education based on educationlevel
def infer_education(age):
    if pd.isnull(age):
        return np.nan
    elif age < 22:
        return 'College'
    elif 22 <= age < 30:
        return 'Bachelor'
    elif 30 <= age <= 40:
        return 'Masters'
    else:
        return 'Bachelor'

# Fill missing values
customer['education'] = customer['education'].fillna(customer['age'].apply(infer_education))

# imputed_rows = customer[customer['educational_original'].isnull()]
# print(imputed_rows[['age', 'education']])

# step 4
display(customer)
missing_value = customer['education'].isnull().sum()
print("\nNo missing value in education column" if missing_value == 0 else "There is "+str(missing_value)+" missing value in education column")

,id,age,gender,income,education,region,loyalty_status,purchase_frequency,purchase_amount,product_category,promotion_usage,satisfaction_score
0,1,27,Male,40682,Bachelor,East,Gold,frequent,18249,Books,0,6.0
1,2,29,Male,15317,Masters,West,Regular,rare,4557,Clothing,1,6.0
2,3,37,Male,38849,Bachelor,West,Silver,rare,11822,Clothing,0,6.0
3,4,30,Male,11568,HighSchool,South,Regular,frequent,4098,Food,0,7.0
4,5,31,Female,46952,College,North,Regular,occasional,19685,Clothing,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,30,Female,18444,College,West,Regular,frequent,8090,Electronics,0,4.0
996,997,35,Male,23348,Bachelor,South,Regular,frequent,7912,Books,1,6.0
997,998,24,Male,7627,HighSchool,West,Regular,occasional,2561,Electronics,0,5.0
998,999,28,Male,47063,Bachelor,West,Silver,occasional,19203,Books,0,6.0
999,1000,29,Female,5688,Bachelor,East,Regular,occasional,1854,Electronics,1,5.0

No missing value in education column

Note: We will apply some of what we learned from **Lesson 2B: Intro to Conditionals** and **Lesson 2F: Functions in Python** in the following codes.

In [15]:
# okay?

In applied data science, imputations are normally guided by established best-practice rules. However, for this exercise we will proceed with a few simplifying assumptions where we correlate age with education level.

4) When imputing for numerical columns, it is best practice to check for outliers.

**Why?**

Usually for numerical columns, we want to impute with either the mean or median value. Outliers can distort the *mean*, making it a poor choice for imputation. The median is more robust to outliers and gives a better central value when they are present.

**What to do depending on outliers:**

A) Impute with **Mean** ‚Äì if no outliers
- If a numerical column does not have outliers, it's safe to replace missing values with the mean (average) of the column.

B) Impute with **Median** ‚Äì if outliers are present
If a numerical column has outliers, use the median instead of the mean.

- The median is the middle value and is not affected by extreme values, so it gives a more reliable imputation.


**For more information about outlier detection:** https://blog.alliedoffsets.com/beyond-the-norm-how-outlier-detection-transforms-data-analysis

Let's check if the column with missing value (satisfaction_score) in the customers data contains outliers.

In [16]:
def check_outlier(col):
    Q1 = col.quantile(0.25)
    Q3 = col.quantile(0.75)
    IQR = Q3 - Q1

    # this will be determine outlier
    # define lower and upper bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = []
    for value in col:
        if value < lower_bound or value > upper_bound:
            outliers.append(value)

    return len(outliers), outliers

print(customer['satisfaction_score'].describe())
print("Number of outlier for statisfaction_score:", check_outlier(customer['satisfaction_score']))

count    987.000000
mean       4.954407
std        1.030443
min        2.000000
25%        4.000000
50%        5.000000
75%        6.000000
max        8.000000
Name: satisfaction_score, dtype: float64
Number of outlier for statisfaction_score: (0, [])

In [17]:
# different approach
import numpy as np #to determine outliers for numerical data

# Select numerical columns with missing values
numerical_cols_with_na = customer.select_dtypes(include=np.number).columns[
    customer.select_dtypes(include=np.number).isnull().any()
]

# Dictionary to store results
outlier_flags = {}

# Check for outliers using IQR method
for col in numerical_cols_with_na:
    Q1 = customer[col].quantile(0.25)
    Q3 = customer[col].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Check if any values are outliers (excluding NaNs)
    outliers_exist = ((customer[col] < lower_bound) | (customer[col] > upper_bound)).any()

    # Store result
    outlier_flags[col] = outliers_exist

# Show True/False for each column
print(outlier_flags)

{'satisfaction_score': np.False_}

Check if the columns with missing value (total_spent and discount_applied) in the transactions data contain outliers.

In [18]:

print("Number of outlier for total_spent:", check_outlier(transactions['total_spent']))

print("Number of outlier for discount_applied:", check_outlier(transactions['discount_applied']))
transactions['discount_applied'].describe()

Number of outlier for total_spent: (0, [])
Number of outlier for discount_applied: (3, [1850.0, 1340.0, 1333.0])

count     739.000000
mean      106.288227
std       107.823074
min         0.000000
25%        50.000000
50%        99.000000
75%       153.000000
max      1850.000000
Name: discount_applied, dtype: float64

Now there are no outliers in satisfaction_score and total_spent, we can impute with "mean"

In [19]:
def impute_data(col,method='mean'):
    if method == 'mean':
        return col.fillna(col.mean())
    elif method == 'median':
        return col.fillna(col.median())

customer['satisfaction_score'] = impute_data(customer['satisfaction_score'], method='mean')
transactions['total_spent'] = impute_data(transactions['total_spent'], method='mean')

print(customer[['satisfaction_score']].isnull().sum())
transactions[['total_spent']].isnull().sum()

satisfaction_score    0
dtype: int64

total_spent    0
dtype: int64

Now, **no missing values** in satisfaction_score and total_spent columns!

There are outliers in the discount_applied column, so we can impute with "median"

In [20]:
transactions['discount_applied'] = impute_data(transactions['discount_applied'], method='median')
transactions[['discount_applied']].isnull().sum()

discount_applied    0
dtype: int64

###Part 2: Data Manipulation and Transformation

1) Now that our data have been cleaned, we can safely join the tables. Merging the datasets first, then applying further transformations, will let us review every column and make informed decisions about which custom columns to create.

In [21]:
customer.isnull().sum()

id                    0
age                   0
gender                0
income                0
education             0
region                0
loyalty_status        0
purchase_frequency    0
purchase_amount       0
product_category      0
promotion_usage       0
satisfaction_score    0
dtype: int64

In [22]:
transactions.isnull().sum()

id                  0
transaction_id      0
transaction_date    0
payment_method      0
total_spent         0
discount_applied    0
items_purchased     0
return_status       0
dtype: int64

In [23]:
merged_df = transactions.merge(customer, on='id', how='inner')

In [24]:
display(merged_df[merged_df.isnull().any(axis=1)])

Empty DataFrame
Columns: [id, transaction_id, transaction_date, payment_method, total_spent, discount_applied, items_purchased, return_status, age, gender, income, education, region, loyalty_status, purchase_frequency, purchase_amount, product_category, promotion_usage, satisfaction_score]
Index: []

2) Now that the data has been merged, we will perform some data manipulation to create custom columns that can be useful for Exploratory Data Analysis.

In this case, we will:

a. Create a custom column called 'score_rank' on the 'score' column

b. Apply the function to create the new column

c. Display the updated DataFrame

In [25]:
# b
def rank_score(score):
    if pd.isnull(score):
        return 'Missing'
    elif score < 4:
        return 'Low'
    elif 4 <= score < 7:
        return 'Neutral'
    else:
        return 'High'

# a and b
merged_df['score_rank'] = merged_df['satisfaction_score'].apply(rank_score)

# c
print(merged_df[['satisfaction_score', 'score_rank']].head())

   satisfaction_score score_rank
0                 6.0    Neutral
1                 5.0    Neutral
2                 4.0    Neutral
3                 7.0       High
4                 4.0    Neutral

3) **üë®‚Äçüë©‚Äçüëß‚ÄçüëßGroup Work:**

What other custom columns can you create that could be useful for Exploratory Data Analysis?

Discuss in groups and come up with some ways to do so. Share your approach and code with the rest of the class.

In [26]:
# spending behaviour - Not all customers spend the same bcs some are ‚Äúbig spenders,‚Äù others are ‚Äúlow spenders.‚Äù
merged_df['spending_category'] = pd.cut(
    merged_df['total_spent'],
    bins=[0, 50, 200, float('inf')],
    labels=['Low', 'Medium', 'High']
)
merged_df['spending_category'].head()

0      High
1    Medium
2      High
3      High
4    Medium
Name: spending_category, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [27]:
# Discount Usage - Discounts influence customer decisions. We want to know who buys only with discounts and who pays full price.
merged_df['used_discount'] = merged_df['discount_applied'].apply(lambda x: 'Yes' if x > 0 else 'No')
merged_df['discount_ratio'] = merged_df['discount_applied'] / (merged_df['total_spent'] + 1e-5)

merged_df[['used_discount','discount_ratio']].head()

  used_discount  discount_ratio
0           Yes        0.296053
1           Yes        0.580311
2           Yes        0.068712
3           Yes        0.097175
4           Yes        1.097826

In [28]:
# Customer Demographics - Age influences education, spending power, and product preferences.
merged_df['age_group'] = pd.cut(
    merged_df['age'],
    bins=[0, 18, 30, 50, 100],
    labels=['Teen', 'Young Adult', 'Adult', 'Senior']
)
merged_df['age_group'].head()

0    Young Adult
1          Adult
2    Young Adult
3          Adult
4    Young Adult
Name: age_group, dtype: category
Categories (4, object): ['Teen' < 'Young Adult' < 'Adult' < 'Senior']

In [29]:
# Satisfaction Insights - Raw satisfaction scores (1‚Äì5) are harder to interpret. Categorizing makes analysis clearer.
merged_df['satisfaction_flag'] = merged_df['satisfaction_score'].apply(
    lambda x: 'High' if x >= 4 else ('Low' if x <= 2 else 'Medium')
)
merged_df['satisfaction_flag'].head()

0    High
1    High
2    High
3    High
4    High
Name: satisfaction_flag, dtype: object

In [30]:
# Engagement Features - Some customers shop once, others shop many times. Frequency matters as much as spending.
customer_summary = merged_df.groupby('id').agg({
    'total_spent': 'sum',
    'discount_applied': 'sum',
    'transaction_id': 'count'
}).rename(columns={'transaction_id': 'num_transactions'})
print(customer_summary)

      total_spent  discount_applied  num_transactions
id
1           404.0              26.0                 1
2           490.0              54.0                 1
3           348.0               9.0                 1
5           272.0             130.0                 1
7           823.0              97.0                 1
...           ...               ...               ...
995         924.0              85.0                 1
996         582.0             149.0                 1
997         936.0              37.0                 1
998         442.0             115.0                 1
1000        601.0              25.0                 1

[746 rows x 3 columns]

4) Let's export our merged data as merged_data_retail.csv. Please save this file - we will return to it during Lesson 4S: Sync Session to perform further Exploratory Data Analysis.

In [31]:
merged_df.to_csv("retail.csv", index=False)
print(f"Cleaned dataset has been successfully saved ")

Cleaned dataset has been successfully saved

In [32]:
import seaborn as sns
df=sns.load_dataset("iris")
df.head()

KeyboardInterrupt: