In [1]:
x1 = 22
print(x1)
print(type(x1))

x2 = 12.5
print(x2)
print(type(x2))

x3 = "42"
print(x3)
print(type(x3))

22
<class 'int'>
12.5
<class 'float'>
42
<class 'str'>

In [4]:
v = 3 + 3
print(v)

w = 3 - 3
print(w)

x = 3 * 3
print(x)

y = 3 / 3
print(y)

z = 3 + 3 * (3 - 3)
print (z)

6
0
9
1.0
3

In [5]:
print(10//3)
print(10%3)

3
1

In [15]:
test = input("Enter :")
total = int(test) / 12 * 3 + 2 - 45.231
print("Test: "+str(total))
print(f"Test: {total:.2f}")

Enter : 13243

Test: 3267.519
Test: 3267.52
Test: 3267.519

In [22]:
# ask for input
kilo = input("Enter distance: ")

# convert
kilometers = float(kilo)

# calculate
miles = kilometers * 0.621371

# display
print(f"{kilometers} kilometers is equal to {miles:.2f} miles")

Enter distance:  234

234.0 kilometers is equal to 145.40 miles