# Lesson 3D: Data Transformation

## Learning Objectives:
1.  Converting data types within a column.
2.  Ensure consistent formatting of datetime and categorical values.
3.  Setting up range-checks in a column.



## ‚ñ∂Ô∏è: Load & Explore the Dataset  
We will get started by loading pandas and the restaurant_transaction_processed_01.csv file (from lesson 3C).

In [ ]:
import pandas as pd

file_path = "restaurant_transaction_processed_01.csv"
df = pd.read_csv(file_path)

##  1Ô∏è‚É£: Converting data types
Let's check all the data types of the columns in this table.

We can convert between data types using the 'astype()' function.
- astype(int) - converts to integer
- astype(float) - converts to float
- astype(str) - converts to string

The best practice in converting data types is to establish a new column while doing so.

Let's try to convert 'Price' into an integer.

Let's check with 'df.info() to verify the data types.

## 2Ô∏è‚É£ Clean and Format Dates
In lesson 3C, you have learned how to use datetime and extracted the data into new columns. Here, you will also learn how to sync up the way date is displayed.

Note: dayfirst=True makes Python read dates as DD-MM-YYYY instead of the default MM-DD-YYYY.

## 3Ô∏è‚É£Formatting Categorical Values

Inconsistent text values in categorical columns can cause errors in data analysis.

For example, "Sunny", "sunny", and "SUNNY" should be transformed to look consistent across the dataset.

Here is another example where we shorten the names of the days into the first 3 letters (ie: 'Friday into 'Fri').

## 4Ô∏è‚É£Validating data ranges

There are times where we want to ensure the values are within a certain range.

For example, we want to ensure the values in 'Price' should not be missing or a negative value. If the values are out of range, we want to replace it with the median price.

## 5Ô∏è‚É£: Export the Cleaned Dataset  

After applying the transformations, we save the cleaned dataset for further analysis.

‚úÖ Data Cleaning Completed. Processed file saved as 'restaurant_transaction_cleaned_02.csv'

## üéØ Summary  

In this guided practice, we:  
‚úî **Validated data types** to ensure correct formats for numerical and date columns  
‚úî **Performed range checks** to identify and correct invalid values  
‚úî **Standardized and cleaned data** by fixing categorical inconsistencies and handling missing values  

---