# Lesson 3E: Data Joining

## Learning Objectives:
1. Understand and apply different types of joins (inner, left, right, outer) to merge customer demographics with transaction data.

2. Understand how to use groupby() in Pandas to aggregate and analyze customer transactions based on attributes like gender and price.

### Now le'ts examine the Restaurant Transaction Data and Customer Demographics Data

### ✅ 1. Merge Function

 ### ✅ 2. GroupBy Function

### Average spending by gender

### Now the "Gender" column and "Price" column are together in the merged_dataset

# ✅ 3. GroupBy Function - For Categorical Variable

# ✅ 4: Export the Cleaned Dataset After applying the transformations, we save the cleaned dataset for further analysis in lesson 4B.